<a href="https://colab.research.google.com/github/sidh26/NLP-assignments/blob/master/classwork/Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/Womens Clothing E-Commerce Reviews.csv")
df.head()

   Unnamed: 0  Clothing ID  Age  ...   Division Name Department Name  Class Name
0           0          767   33  ...       Initmates        Intimate   Intimates
1           1         1080   34  ...         General         Dresses     Dresses
2           2         1077   60  ...         General         Dresses     Dresses
3           3         1049   50  ...  General Petite         Bottoms       Pants
4           4          847   47  ...         General            Tops     Blouses

[5 rows x 11 columns]

In [3]:
df.fillna(' ', inplace=True)
df['text'] = df['Title'].astype(str) + ' ' + df['Review Text'].astype(str)
df = pd.concat([df, pd.get_dummies(df[['Division Name', 'Department Name', 'Class Name']], drop_first=True)], axis=1)
df.drop(['Unnamed: 0', 'Division Name', 'Department Name', 'Class Name', 'Title', 'Review Text'],axis=1, inplace=True)
df.head()

   Clothing ID  Age  ...  Class Name_Swim  Class Name_Trend
0          767   33  ...                0                 0
1         1080   34  ...                0                 0
2         1077   60  ...                0                 0
3         1049   50  ...                0                 0
4          847   47  ...                0                 0

[5 rows x 35 columns]

In [4]:
import nltk
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
import pandas as pd
import re
import numpy as np
from nltk import word_tokenize
from nltk.tokenize import MWETokenizer
from nltk.stem.wordnet import WordNetLemmatizer
from textblob import TextBlob
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords
from itertools import combinations

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

In [0]:
def preprocess(doc):
    sentences = []
    doc = doc['text'].lower()
    stop_words = set(stopwords.words('english'))
    word_tokens = word_tokenize(doc)
    t = [w for w in word_tokens if not w in stop_words]
    t = ' '.join(t)
    t = re.sub(r'[^A-Za-z\s]', ' ', t)
    return t

In [0]:
df['text'] = df.apply(preprocess, axis=1)

In [8]:
df.head()

   Clothing ID  Age  ...  Class Name_Swim  Class Name_Trend
0          767   33  ...                0                 0
1         1080   34  ...                0                 0
2         1077   60  ...                0                 0
3         1049   50  ...                0                 0
4          847   47  ...                0                 0

[5 rows x 35 columns]

In [0]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split as tts

In [0]:
# steps=[('Preprocess', Preprocess()),('Countvectorizer', CountVectorizer()),('rf', LogisticRegression())]
# pp=Pipeline(steps)

In [0]:
steps=[('Countvectorizer', CountVectorizer()),('rf', RandomForestClassifier())]
pp=Pipeline(steps)

In [19]:
from sklearn.model_selection import GridSearchCV
params = {'rf__max_depth': [10, 20],
 'rf__min_samples_leaf': [1, 2],
 'rf__min_samples_split': [2, 5],
'rf__n_estimators': range(10,20,50)
}
grid = GridSearchCV(pp, param_grid=params, cv=5,verbose=1)
x_train,x_test,y_train,y_test=tts(df.iloc[:,5:],df['Recommended IND'])
grid.fit(x_train,y_train)

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Number of labels=14091 does not match number of samples=30

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Number of labels=14091 does not match number of samples=30

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Number of labels=14091 does not match number of samples=30

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Number of labels=14091 does not match number of samples=30

  FitFailedWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Number of labels=14092 does not match number of samples=30

  FitFailedWarning)
[Parallel(n_jobs=1)]: Done   5 out of   5 | elapsed:    0.3s finished

ValueError: ignored

In [0]:
grid.predict(y_test)

In [0]:
grid.score(x_test,y_test)

In [0]:
class Preprocess():
    def __init__(self):
        pass
    def fit(self, X, y=None):
        return self
    def clean(self, doc):
        sentences = []
        doc = doc['text'].lower()
        stop_words = set(stopwords.words('english'))
        word_tokens = word_tokenize(doc)
        t = [w for w in word_tokens if not w in stop_words]
        t = ' '.join(t)
        t = re.sub(r'[^A-Za-z\s]', ' ', t)
        return t
    def transform(self, X, y=None):
        X['text'] = X.apply(self.clean, axis=1)
        return X.values

In [21]:
x_train

                                                    text  ...  Class Name_Trend
16719  absolutely stunning    get right size intricat...  ...                 0
16614  great somebody less jelly belly either rouchin...  ...                 0
146    pretty   bit long bigger read reviewers found ...  ...                 0
18021  eh  s ok  thin feel like might say stretch   c...  ...                 0
18866  love   top perfect     small chested actually ...  ...                 0
...                                                  ...  ...               ...
20700  large   lace kinda coarse thought  d love top ...  ...                 0
5207   transitional bought dress black think great pi...  ...                 0
18080  fun love bows   dress cute flattering   comfor...  ...                 0
11528  great addition coat closet ca n t wait get col...  ...                 0
4731   pretty dress runs big beautiful print flatteri...  ...                 0

[17614 rows x 30 columns]