<a href="https://colab.research.google.com/github/sidh26/NLP-assignments/blob/master/classwork/re.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from collections import Counter
import re

In [0]:
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:
data.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def word_count(data):
    doc = data['reviewText']
    doc = doc.lower()
    doc = re.sub(r'[^a-z0-9\s]', '', doc)
    doc = doc.split(' ')
    counter1 = Counter(doc)
    counter1.pop('', None)
    doc = data['summary']
    doc = doc.lower()
    doc = re.sub(r'[^a-z0-9\s]', '', doc)
    doc = doc.split(' ')
    counter2 = Counter(doc)
    counter2.pop('', None)
    return [counter1, counter2]

In [0]:
temp = data.apply(word_count, axis=1)
ans = pd.DataFrame(temp.values.tolist(), columns=['reviewText_count', 'summary_count'])
ans.head()

                                    reviewText_count                                      summary_count
0  {'i': 7, 'bought': 1, 'my': 4, 'first': 1, 'hp...  {'a': 1, 'solid': 1, 'performer': 1, 'and': 1,...
1  {'why': 2, 'this': 13, 'belated': 1, 'review':...  {'price': 1, 'of': 1, 'gold': 1, 'is': 1, 'up'...
2  {'i': 2, 'have': 3, 'an': 2, 'hp': 3, '48gx': ...  {'good': 1, 'functionality': 1, 'but': 1, 'not...
3  {'ive': 4, 'started': 1, 'doing': 2, 'more': 3...  {'one': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  {'for': 4, 'simple': 1, 'calculations': 2, 'an...                  {'still': 1, 'the': 1, 'best': 1}

# Code for word vowel and const count

In [0]:
def wvc_count(data):
    doc = data['reviewText']
    doc = doc.lower()
    doc = re.sub(r'[^a-z0-9\s]', '', doc)
    vc=0
    cc=0
    for letter in doc:
        if letter in ['a', 'e', 'i', 'o', 'u']:
            vc+=1
        elif letter.isalpha():
            cc+=1
    doc = doc.split(' ')
    wc=len([i for i in doc if i != ''])
    return {'vowel_count':vc,'const_count': cc,'word_count': wc}

In [0]:
data['counts'] = data.apply(wvc_count, axis=1)
data.head()

In [27]:
doc = data.iloc[0,4]
doc = doc.lower()
doc = re.sub(r'[^a-z0-9\s]', '', doc)
vc=0
cc=0
for letter in doc:
    if letter in ['a', 'e', 'i', 'o', 'u']:
        vc+=1
    elif letter.isalpha():
        cc+=1

doc = doc.split(' ')
wc=len([i for i in doc if i != ''])
print(vc,cc,wc)

279 437 186

# Words starting with b or ending with g

In [0]:
doc = data.iloc[0,4]
# doc = doc.lower()
doc = re.sub(r'[^A-Za-z0-9\s]', ' ', doc)
# doc = doc.split(' ')

In [77]:
doc

'I bought my first HP12C in about 1984 or so  and it served me faithfully until 2002 when I lost it while travelling   I searched for another one to replace it  but found one difficult to come by in my area   So  I decided to buy up and purchased an HP 49G   What a mistake   I know that many people view the HP 49G  now 49G   as the flagship of the HP line  but for me that was a disaster The 49G may be powerful  but using it is extremely counterintuitive   and the manual was sketchy at best   The 12C  on the other hand  does what I need in a way that makes good sense to me If you are looking for a solid  reliable calculator  the HP12C may be for you   It s programmable   It does basic statistics well  and many business applications too   The manual makes sense  you will be up and running in short order I m ready to set my 49G aside and move back to my old friend   I didn t even have to replace the batteries in well over a decade of use HP 12C  I m coming home '

In [0]:
ans=re.findall(r'\s[Bb]\w*\s|\s\w*[Gg]\s', doc)

In [79]:
ans

[' bought ',
 ' travelling ',
 ' but ',
 ' by ',
 ' buy ',
 ' 49G ',
 ' 49G ',
 ' 49G ',
 ' but ',
 ' 49G ',
 ' be ',
 ' but ',
 ' best ',
 ' looking ',
 ' be ',
 ' basic ',
 ' business ',
 ' be ',
 ' running ',
 ' 49G ',
 ' back ',
 ' batteries ',
 ' coming ']